<div>
  <div class = "large-container center-block">
  <select class="form-select marg center-block" aria-label="Default select example">
  <option selected>Cantidad de entradas</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
  <option value="4">Four</option>
  <option value="5">Five</option>
  </select>
  </div>

  <div class = "large-container center-block">
    <menu type="context" id="mymenu">
      <menuitem label="Refresh" icon="ico_reload.png" disabled></menuitem>
      <menuitem label="Twitter" icon="ico_twitter.png"></menuitem>
      <menuitem label="Facebook" icon="ico_facebook.png"></menuitem>
    </menu>
  </div>
</div>