<!--<p style="color: green"><%#= notice %></p>-->

<div class="container">
<div id="carouselExampleIndicators" class="carousel slide padding" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://tpc.googlesyndication.com/simgad/9395713232106059526" class="d-block w-100" alt= "First slide">
    </div>
    <div class="carousel-item ">
      <img src="https://tpc.googlesyndication.com/simgad/4596905262824578079" class="d-block w-100" alt="Second slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="btn-group" role="group" >
    <h2 class = "padding" >CARTELERA</h2>
    <% if user_signed_in? %>
      <% @user = current_user%>
      <% if @user.admin? %>
        <h4 class = " marg" >
          <%= link_to "Agregar Pelicula a la cartelera", new_pelicula_path %>
        </h4>
      <% end %>
    <% end %>
  </div>
  <div class="row row-cols-6">
    <% @peliculas.each do |pelicula| %>
      <div class="col padding marg">
        <figure>
          <%= link_to image_tag(url_for(pelicula.imagen)), pelicula, title: pelicula.titulo %>
          <figcaption>
            <span> <%= link_to pelicula.titulo, pelicula %> </span>
          </figcaption>
        </figure>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
