/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.small-container{
    width:100%;
    max-width:650px;
}
.large-container{
    width:100%;
    max-width:960px;
}
.center-block{
    margin:0 auto;
}
.padding{
    padding:10px 15px;
}
.marg{
    margin: 15px;
}
.margin-top {
    margin-top: 1.5em;
}

body{
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

header li {
    padding: 5px 10px;
    background-color: rgba(234, 10, 10, 0);
    color: white;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
  }

  
header ul {
    list-style: -moz-element();
    display: flex;
    gap: 10px;
}

header .logo img {
    height: 30px;
  }

header li {
    padding: 5px 10px;
    background-color: white;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.source-code-container {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(101, 90, 202);
    padding: 7px;
    border-radius: 3px 0 0 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 13px;
}

.source-code-container img {
    width: 17px;
  }


.cartelera{
}

.contenedor-pelicula{
    display: inline-block;
}
.contenedor-final {
    background: #c0bcbc;
    padding: 15px 30px;
}

footer {
    display: block;
}